<div class="py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Cadastro de grupos</h4>
                    <hr/>
                    <form class="form" #profileForm="ngForm">
                        <div class="form-group">
                                    <label for="uname1">Nome do grupo</label>
                                    <input type="text" [(ngModel)]="groupData.planname" name="planname"  class="form-control rounded-0" 
                                    [class.is-invalid]="planname.invalid && planname.touched" #planname="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="planname.valid || planname.untouched">
                                        <small  class="text-danger"*ngIf="planname.errors && planname.errors.required">
                                            nome do grupo obrigatório
                                        </small>
                                    </div>
                        </div>                    
                        <div class="form-group">
                            <div>
                                <h5>Selecione o Entidade(s) e a(s) Funcionalidade(s)</h5>                                                                 
                            </div>                                    
                            <div class="row">          
                                <div class="col-sm-6  border-right">                                        
                                    <div class="border-bottom">
                                            <label for="uname1">Entidade(s)</label>                                               
                                    </div>                                            
                                    <div class="btn-group btn-group-toggle btn-group-vertical"  data-toggle="buttons" style="padding-top: 10px; overflow: auto; white-space: nowrap;" required>                                            
                                        <div class="col" *ngFor="let entities of _entities ">
                                            <label class="btn btn-outline-rainti" >
                                                <input type="checkbox" name="profileOptions" id="{{entities.name}}.{{entities.id}}" autocomplete="off"> {{ entities.name }}
                                            </label>
                                        </div>
                                    </div>                                      
                                </div>                                                             
                                <div class="col-sm-6">  
                                    <div class="border-bottom">                                        
                                        <label for="uname1">Funcionalidade(s)</label>
                                    </div>
                                                                           
                                    <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons" style="padding-top: 10px; overflow: auto; white-space: nowrap;" required>                                            
                                        <div data-spy="scroll">
                                            <div class="col "  *ngFor="let feature of _features">
                                                <label class="btn btn-outline-rainti"  >
                                                    <input type="checkbox" name="groupOptions" id="{{ feature.name }}.{{ feature.id}}" autocomplete="off"> {{ feature.name }}
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>                                 
                                </div>                                    
                                
                            </div> 
                        </div>  
                        <hr/>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">                   
                                    <button type="submit" (click)="backToUsers()" class="btn btn-info btn-block">Voltar</button>
                                </div>  
                                <div class="col-sm-6">                                        
                                    <button type="submit" [disabled]="profileForm.form.invalid" (click)="createGroup()" class="btn btn-rainti btn-block ">Finalizar</button>                
                                </div>  
                            </div>                            
                        </div> 
                    </form>
                  </div>
            </div>
            <!-- /form card login -->
        </div>
    </div>
</div>
    

