<div class="py-5">
    <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card shadow">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1 text-center">Esqueceu sua senha?</h4>
                <form class="form" #recover="ngForm"> 
                    <div class="form-group">
                        <input type="text" [(ngModel)]="recoverPasswordData.cpf" placeHolder="Digite seu CPF no formato 123.123.123-12" name="cpf" 
                        class="form-control rounded-0"
                        pattern="^\d{3}\.\d{3}\.\d{3}(-\d{2})$" 
                        [class.is-invalid]="cpf.invalid && cpf.touched" #cpf="ngModel" required >
                        <small  class="text-secondary" >
                            (Ex.: 123.123.123-12)
                        </small>
                        <div class="md-errors-spacer" [hidden]="cpf.valid || cpf.untouched">
                            <small  class="text-danger"*ngIf="cpf.errors && cpf.errors.required">
                                CPF obrigatório 
                            </small>
                            <small  class="text-danger" *ngIf="cpf.errors && cpf.errors.pattern">
                                CPF inválido (Ex.: 123.123.123-12)
                            </small>
                        </div>
                    
                    
                    </div> <!-- form-group// -->   
                             
                    <div class="form-group">
                        <button type="button" [disabled]="recover.form.invalid" (click)="recoverPassword()" class="btn btn-rainti btn-block">Resetar senha</button>
                    </div>                                                      
                </form>
            </article>
            </div> 
    </div>
    
</div>
    

