<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Criar nova senha</h4>
                    <form class="form">
                        <div class="form-group">
                            <label for="uname1">Usuário</label>
                            <input type="text" [(ngModel)]="resetUserData.userName" name="userName" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="uname1">Código de enviado</label>
                            <input type="text" [(ngModel)]="resetUserData.resetCode" name="resetCode" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="uname1">Nova senha</label>
                                    <input type="password" [(ngModel)]="resetUserData.password" name="password"  class="form-control rounded-0" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="uname1">Confirme sua nova senha</label>
                                    <input type="password" [(ngModel)]="resetUserData.confirmedPassword" name="confirmedPassword" class="form-control rounded-0" required>
                                </div>  
                            </div>                            
                        </div>                                           
                        <button type="submit" (click)="resetUser()" class="btn btn-primary btn-block">Confirmar</button>
                    </form>
                  </div>
            </div>
            <!-- /form card login -->
        </div>
    </div>
</div>
    

