<div class="row justify-content-lg align-items-center">
    <div class="col">
      <h1>Contatos</h1>  
    </div>  
    <div class="col-md-auto">
      <div class="row align-items-center mb-1">    
        <div class="col">
          <button type="button" class="btn btn-rainti btn-md btn-block" (click)="addCreditorGroupContact()">Adicionar</button>
        </div>        
        <div class="col">
          <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
        </div>            
      </div>
    </div>
  </div>
  <hr/>
  <div class="row mt-2">    
      <div class="col-md-4 mb-4" *ngFor="let creditorGroupContact of creditorGroupContacts | filter: name : searchText"> 
        <div class="card text-center shadow rounded">
          <div class="card-body ">
            <h5 class="card-title ">{{creditorGroupContact.name}}</h5>
            <hr/>
            <p class="card-text"><b>Tel.:</b> {{creditorGroupContact.tel}}</p>
            <p class="card-text"><b>e-mail:</b> {{creditorGroupContact.email}}</p>          
            <p class="card-text" *ngIf="creditorGroupContact.additionalinfo"><b>Info. adicionais:</b> {{creditorGroupContact.additionalinfo}}</p>         
          </div>
          <div class="card-footer text-muted">
            <div class="row align-items-center mb-1">    
              <div class="col">
                <button type="button" class="btn btn-rainti btn-md btn-block" routerLink="/credor-detalhe-contato/{{creditorGroupContact.id}}" routerLinkActive="active" >Editar</button>
              </div>                    
            </div>         
          </div>
        </div>
      </div>
    </div>

