<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-3@m" >
        <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
        <img src="https://rainti.com/img/logo-top.png">
        </p>

            <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
                <h3 class="uk-card-title">Cadastre-se</h3>
                  
                <div class="uk-margin">
                    <form [formGroup]="form">  
                        <input class="uk-input uk-form-large" type="text" placeholder="Nome" formControlName="UserName">
                    </form>    
                </div>
                <div class="uk-margin">
                    <form [formGroup]="form">
                        <input class="uk-input uk-form-large" type="text" placeholder="CPF" formControlName="UserCPF">
                    </form>
                </div>
                <div class="uk-margin">
                   <form [formGroup]="form">
                        <input class="uk-input uk-form-large" type="email" placeholder="E-mail" formControlName="UserMail">
                    </form>
                </div>
                <div class="uk-margin">
                    <form [formGroup]="form">
                        <input class="uk-input uk-form-large" type="password" placeholder="Senha" formControlName="UserPassword">
                    </form>
                </div>
                <div class="uk-margin uk-text-right">
                    <form [formGroup]="form">
                        <button (click)="add()" href="/login" class="uk-button uk-button-default">Cadastrar</button>
                    </form> 
                <div>
            </div>
        
    </div> 
</div>
<p class="uk-text-center">
    <a href="/login" class="uk-button uk-button-link " >Voltar</a>
</p>