<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">Meus contratos</li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                        Adicionar
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>