<div class="col-md-5 mx-auto" style="padding-top: 150px;">
    <div class="card shadow">
        <div class="card-body">
            <!-- <a routerLink="/register" routerLinkActive="active" class="float-right btn btn-outline-primary">Cadastre-se</a> -->
            <h3 class="card-title">Bem-vindo</h3>
            <hr />
            <form #loginForm="ngForm">
                <div class="form-group">
                    <label>Usuário</label>
                    <input type="text" [(ngModel)]="loginUserData.userName" name="userName"
                        class="form-control rounded-0" #user="ngModel" [class.is-invalid]="user.invalid && user.touched"
                        required>
                    <div class="md-errors-spacer" [hidden]="user.valid || user.untouched">
                        <small class="text-danger" *ngIf="user.errors && user.errors.required">
                            Nome de usuário obrigatório
                        </small>
                    </div>
                </div> <!-- form-group// -->
                <div class="form-group">

                    <label>Senha</label>

                    <input type="password" [(ngModel)]="loginUserData.password" name="password"
                        class="form-control rounded-0" #password="ngModel"
                        [class.is-invalid]="password.invalid && password.touched" required>

                    <a class="text" routerLink="/recuperar-senha" routerLinkActive="active">Esqueceu sua senha? Clique
                        aqui</a>
                    <div class="md-errors-spacer" [hidden]="password.valid || password.untouched">
                        <small class="text-danger" *ngIf="password.errors && password.errors.required">
                            Senha obrigatória
                        </small>
                    </div>
                </div>

                <!-- <div class="form-group"> 
                            <div class="checkbox">
                                <label> <input type="checkbox"> Salvar senha </label>
                            </div>                         
                         </div> -->
                <hr />
                <div class="form-group">
                    <button [disabled]="loginForm.form.invalid" type="button" (click)="loginUser()"
                        class="btn btn-rainti btn-block">Entrar</button>
                </div>

            </form>
            <div class="row">
                <div class="alert alert-danger text-center text-danger text-wrap" *ngIf="_errorMessage">
                    {{_errorMessage}}
                </div>
                <img src="../assets/images/logo.png" class="col-md-3 mx-auto" >
                
            </div>
            

            



        </div> <!-- card.// -->
    </div>
</div>