
<div class="card shadow rounded" style="padding: 30px">
  <div class="row justify-content-lg align-items-center">
    <div class="col">
      <h1>Gestora</h1>  
    </div>  
    <div class="col-md-auto">    
      <form class="form-inline ">
        <div class="row align-items-center mb-1">          
          <div class="col">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
          </div>            
        </div>   
      </form> 
    </div>
  </div>
  <hr/>
  <div class="row mt-2" style="padding-top: 10px; height: 650px; overflow-y: scroll; white-space: nowrap;">    
      <div class="col-md-4 mb-4" *ngFor="let entity of entities | filter: searchText"> 
        <div class="card text shadow rounded">
          <div class="card-body ">
            <h5 class="card-title ">{{entity.businessname}}</h5>
            <hr/>
            <p class="card-text"><b>CNPJ:</b> {{entity.cnpj}}</p>
            <p class="card-text"><b>tel.:</b> {{entity.phone}}</p>
            <p class="card-text"><b>e-mail:</b> {{entity.email}}</p>          
          </div>
          <div class="card-footer text-muted">
            <div class="row align-items-center mb-1">    
              <div class="col">
                <button type="button" class="btn btn-primary btn-md btn-block" routerLink="/gestor-detalhe/{{entity.id}}" routerLinkActive="active" >Editar</button>
              </div>        
              <div class="col">
                <button type="button" class="btn btn-info btn-md btn-block" routerLink="/gestor-contatos/{{entity.id}}" routerLinkActive="active">Contatos</button>
              </div>            
            </div>         
          </div>
        </div>
      </div>
    </div>
</div>
