<div class="uk-flex-center" uk-grid>
    <nav uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><strong>Novo Detran</strong></li>
            </ul>
        </div>
    </nav>
</div>
   
        <form class= "uk-flex-center" uk-grid>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Estado">
            
                <input class="uk-input" type="text" placeholder="CNPJ">
            
                <input class="uk-input" type="text" placeholder="Responsável">
            
                <input class="uk-input" type="text" placeholder="Telefone">
            
                <input class="uk-input" type="email" placeholder="E-mail">
            
                <input class="uk-input" type="text" placeholder="OBS">
            </div>
        </form>
  <div class= "uk-flex-center" uk-grid>
  <p>
    <button class="uk-button uk-button-default">Cancelar</button>
    <button class="uk-button uk-button-default" >Salvar</button>
    
  </p>
</div>  