<div class="py-5">
    <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card shadow">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1 text-center">E-mail enviado com sucesso!</h4>
                <h6 class="card-title mb-4 mt-1 text-center">Acesse seu e-mail e cadastre sua senha novamente.</h6>
                <button type="button" routerLink="/login" class="btn btn-primary btn-block">Voltar</button>
            </article>
            </div> 
    </div>
    
</div>