<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Verifique seu e-mail</h4>
                    <hr/>
                    <label for="uname1">Um código de verificação foi enviado ao seu e-mail cadastrado.<br>Esse código tem validade de <b>15 minutos.</b></label>
                    <hr/>
                    <form  class="form" #resetForm="ngForm">                        
                        <div class="form-group">
                            <label for="uname1">Código de verificação</label>
                            <div class="md-errors-spacer" [hidden]="resetCode.valid || resetCode.untouched">
                                <small  class="text-danger"*ngIf="resetCode.errors && resetCode.errors.required">
                                    Código Obrigatório
                                </small>
                            </div>
                            
                            <form #resetCode="ngForm">
                                <div class="row">
                                    <div class="col-md-1">
                                        <input type="text" style="text-align: center;"  maxlength="1" [(ngModel)]="resetUserData.resetCode1" name="resetCode1" class="form-control rounded-5 form-fixer" 
                                        [class.is-invalid]="resetCode1.invalid && resetCode1.touched" #resetCode1="ngModel" required >
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" (blur)="resetCode1.valid" style="text-align: center;"  maxlength="1" [(ngModel)]="resetUserData.resetCode2" name="resetCode2" class="form-control rounded-5 form-fixer" 
                                        [class.is-invalid]="resetCode2.invalid && resetCode2.touched" #resetCode2="ngModel" required >
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" style="text-align: center;"  maxlength="1" [(ngModel)]="resetUserData.resetCode3" name="resetCode3" class="form-control rounded-5 form-fixer" 
                                        [class.is-invalid]="resetCode3.invalid && resetCode3.touched" #resetCode3="ngModel" required >
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" style="text-align: center;"  maxlength="1" [(ngModel)]="resetUserData.resetCode4" name="resetCode4" class="form-control rounded-5 form-fixer" 
                                        [class.is-invalid]="resetCode4.invalid && resetCode4.touched" #resetCode4="ngModel" required >
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" style="text-align: center;"  maxlength="1" [(ngModel)]="resetUserData.resetCode5" name="resetCode5" class="form-control rounded-5 form-fixer" 
                                        [class.is-invalid]="resetCode5.invalid && resetCode5.touched" #resetCode5="ngModel" required >
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" style="text-align: center;"  maxlength="1" [(ngModel)]="resetUserData.resetCode6" name="resetCode6" class="form-control rounded-5 form-fixer" 
                                        [class.is-invalid]="resetCode6.invalid && resetCode6.touched" #resetCode6="ngModel" required >
                                    </div>
                                </div>
                            </form> 
                            <!-- <small  class="text-primary">
                                <a class="text" (click)="doSomething" style="cursor:pointer">Gerar novo código</a>
                            </small> -->
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="uname1">Nova Senha</label>
                                    <input type="password" [(ngModel)]="resetUserData.password" name="password"  class="form-control rounded-0" 
                                    [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="password.valid || password.untouched">
                                        <small  class="text-danger"*ngIf="password.errors && password.errors.required">
                                            senha obrigatória
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="uname1">Confirme sua senha</label>
                                    <input type="password" [(ngModel)]="resetUserData.confirmedPassword" name="confirmedPassword" class="form-control rounded-0" 
                                    [class.is-invalid]="confirmedPassword.invalid && confirmedPassword.touched" #confirmedPassword="ngModel" 
                                    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
                                    appConfirmEqualValidator="password"required >
                                    <div class="md-errors-spacer" [hidden]="confirmedPassword.valid || confirmedPassword.untouched">
                                        <small  class="text-danger"*ngIf="confirmedPassword.errors && confirmedPassword.errors.required">
                                            confirmação de senha obrigatória
                                        </small>
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="confirmedPassword.valid || confirmedPassword.untouched">
                                        <small  class="text-danger"*ngIf="confirmedPassword.errors && confirmedPassword.errors?.notEqual">
                                            confirmação de senha incorreta
                                        </small>
                                    </div>
                                </div>  
                            </div>                            
                        </div>              
                        <hr/>                            
                        <div class="row">
                            <div class="col">
                                <button  type="submit" (click)="backToEmailSender()" class="btn btn-info btn-block">Voltar</button>
                            </div>
                            <div class="col">
                                <button [disabled]="resetForm.form.invalid" type="submit" (click)="resetUser()" class="btn btn-rainti btn-block">Confirmar</button>
                            </div>
                        </div>
                        
                        
                    </form>
                  </div>
            </div>
            <!-- /form card login -->
        </div>
    </div>
</div>
    

