<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Criar nova senha</h4>
                    <form  class="form" #resetForm="ngForm">
                        <div class="form-group">
                            <label for="uname1">Nome de usuário</label>
                            <input type="text" [(ngModel)]="resetUserData.userName" name="userName" class="form-control rounded-0" 
                            [class.is-invalid]="userName.invalid && userName.touched" #userName="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="userName.valid || userName.untouched">
                                        <small  class="text-danger"*ngIf="userName.errors && userName.errors.required">
                                            nome de usuário obrigatória
                                        </small>
                                    </div>
                        </div>
                        <div class="form-group">
                            <label for="uname1">Código de enviado</label>
                            <input type="text" [(ngModel)]="resetUserData.resetCode" name="resetCode" class="form-control rounded-0" 
                            [class.is-invalid]="resetCode.invalid && resetCode.touched" #resetCode="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="resetCode.valid || resetCode.untouched">
                                        <small  class="text-danger"*ngIf="resetCode.errors && resetCode.errors.required">
                                            nome de usuário obrigatória
                                        </small>
                                    </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="uname1">Senha</label>
                                    <input type="password" [(ngModel)]="resetUserData.password" name="password"  class="form-control rounded-0" 
                                    [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="password.valid || password.untouched">
                                        <small  class="text-danger"*ngIf="password.errors && password.errors.required">
                                            senha obrigatória
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="uname1">Confirme sua senha</label>
                                    <input type="password" [(ngModel)]="resetUserData.confirmedPassword" name="confirmedPassword" class="form-control rounded-0" 
                                    [class.is-invalid]="confirmedPassword.invalid && confirmedPassword.touched" #confirmedPassword="ngModel" 
                                    appConfirmEqualValidator="password"required >
                                    <div class="md-errors-spacer" [hidden]="confirmedPassword.valid || confirmedPassword.untouched">
                                        <small  class="text-danger"*ngIf="confirmedPassword.errors && confirmedPassword.errors.required">
                                            confirmação de senha obrigatória
                                        </small>
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="confirmedPassword.valid || confirmedPassword.untouched">
                                        <small  class="text-danger"*ngIf="confirmedPassword.errors && confirmedPassword.errors?.notEqual">
                                            confirmação de senha incorreta
                                        </small>
                                    </div>
                                </div>  
                            </div>                            
                        </div>                                          
                        <button [disabled]="resetForm.form.invalid" type="submit" (click)="resetUser()" class="btn btn-rainti btn-block">Confirmar</button>
                    </form>
                  </div>
            </div>
            <!-- /form card login -->
        </div>
    </div>
</div>
    

