<div class="py-5">
    <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card shadow">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1 text-center">CPF inválido!</h4>
                <h6 class="card-title mb-4 mt-1 text-center">Verifique seu CPF e tente novamente.</h6>
                <button type="button" routerLink="/recuperar-senha" class="btn btn-danger btn-block">Voltar</button>
            </article>
            </div> 
    </div>
    
</div>