<div class="row">
    <div class="col-md-8 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <!-- form card login -->
        <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title mb-4 mt-1">Editar grupo</h4>                    
                <hr/>
                <nav>
                    
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link _userGroupEntityType == 'DETRAN' ? active" id="group-detran-tab" data-toggle="tab" href="#group-detran" role="tab" aria-controls="group-detran" aria-selected="true"  *ngIf="_userGroupEntityType == 'DETRAN'">Detran</a>
                        <a class="nav-item nav-link _userGroupEntityType == 'CREDORA' ? active " id="group-creditor-tab" data-toggle="tab" href="#group-creditor" role="tab" aria-controls="group-creditor" aria-selected="false" *ngIf="_userGroupEntityType == 'CREDORA'">Credora</a>
                        <a class="nav-item nav-link _userGroupEntityType == 'GESTORA' ? active " id="group-creditor-group-tab" data-toggle="tab" href="#group-creditor-group" role="tab" aria-controls="group-creditor-group" aria-selected="false" *ngIf="_userGroupEntityType == 'GESTORA'">Gestora</a>
                        <a class="nav-item nav-link _userGroupEntityType == 'ADMIN' ? active " id="group-admin-tab" data-toggle="tab" href="#group-admin" role="tab" aria-controls="group-admin" aria-selected="false" *ngIf="_userGroupEntityType == 'ADMIN'">Admin</a>
                    </div>
                </nav>
                  <!-- Detran TAB -->

                <div class="tab-content" id="nav-tabContent" style="padding-top: 10px;">
                    
                    <div class="tab-pane fade " [ngClass]="{ active: _userGroupEntityType == 'DETRAN', show: _userGroupEntityType == 'DETRAN'}" 
                     id="group-detran" role="tabpanel" aria-labelledby="group-detran-tab" >
                        <form class="form" #detranForm="ngForm">
                            <div class="form-group">
                                <div class="row">
                                    <div  class="col">
                                        <label >Grupo</label>                                            
                                        <input type="text" [(ngModel)]="_detranData.planname" name="detranPlanname"  class="form-control rounded-0" 
                                        placeholder="Digite o nome do plano"
                                        [class.is-invalid]="detranPlanname.invalid && detranPlanname.touched" #detranPlanname="ngModel" required >
                                        <div class="md-errors-spacer" [hidden]="detranPlanname.valid || detranPlanname.untouched">
                                            <small  class="text-danger"*ngIf="detranPlanname.errors && detranPlanname.errors.required">
                                                nome do grupo obrigatório
                                            </small>
                                        </div>
                                    </div >
                                    <div class="col-md-2">
                                        <label >Status</label>
                                        <div class="onoffswitch">
                                            <input type="checkbox" [(ngModel)]="_detranData.planstatus" name="detranSwitch" class="onoffswitch-checkbox" id="detranSwitch" checked>
                                            <label class="onoffswitch-label" for="detranSwitch"></label>                                                
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                            <div class="form-group">                                   
                                <div class="row">         
                                    <div class="col-md-6">  
                                        <div class="form border" style="padding-bottom: 10px; padding-top: 10px;">
                                            <div class="col">
                                                <label >Entidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTextDetran" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >    
                                                <div class="col" *ngFor="let entities of _detranData.entities | filterEntityName  : searchTextDetran">
                                                    <label class="btn btn-outline-rainti " [ngClass]="entities.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox" [checked]="entities.checked"  id="detran.{{entities.entityname}}" autocomplete="off" (change)="detranEntitiesControl($event)"> {{ entities.entityname }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                                                                     
                                    
                                    <div class="col-md-6">  
                                        <div class="form border" style="padding-bottom: 10px; padding-top: 10px;">
                                            <div class="col">
                                                <label >Funcionalidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTextDetranFunc" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical"   data-toggle="buttons" >                                                                                
                                                <div class="col"  *ngFor="let feature of _detranData.features | filterFeatureName : searchTextDetranFunc">
                                                    <label class="btn btn-outline-rainti " [ngClass]="feature.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox"  [checked]="feature.checked"  id="detran.{{feature.featurename }}" autocomplete="off"
                                                        (change)="detranFeaturesControl($event)"
                                                        > {{feature.featurename }}
                                                    </label>
                                                </div>  
                                            </div>  
                                        </div>    
                                            
                                          
                                    </div>         
                                </div> 
                            </div>  
                            <hr/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">                   
                                        <button type="submit" (click)="backToUsers()" class="btn btn-info btn-block">Voltar</button>
                                    </div>  
                                    <div class="col-sm-6">                                        
                                        <button type="submit" *ngIf="!_detranSaving"[disabled]="detranForm.form.invalid" (click)="updateDetranGroup()" class="btn btn-rainti btn-block ">
                                            Salvar                                                
                                        </button>              
                                         <button class="btn btn-outline-rainti btn-block" type="button" disabled *ngIf="_detranSaving">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                               
                                        </button>
                                    </div>  
                                    
                                    
                                </div>                                                          
                            </div> 
                            <div class="alert alert-danger text-center text-danger" *ngIf="_detranErrorMessage">
                                {{_detranErrorMessage}}
                            </div>      
                        </form>
                    </div>
                
                <!--  Creditor Tab  -->
                    
                    <div class="tab-pane fade " [ngClass]="{ active: _userGroupEntityType == 'CREDORA',  show: _userGroupEntityType == 'CREDORA'}"  
                    id="group-creditor" role="tabpanel" aria-labelledby="group-creditor-tab" >
                        <form class="form" #creditorForm="ngForm">
                            <div class="form-group">
                                <div class="row">
                                    <div  class="col">
                                        <label >Grupo</label>
                                        <input type="text" [(ngModel)]="_creditorData.planname" name="creditorPlanname"  class="form-control rounded-0" 
                                        placeholder="Digite o nome do plano"
                                        [class.is-invalid]="creditorPlanname.invalid && creditorPlanname.touched" #creditorPlanname="ngModel" required >
                                        <div class="md-errors-spacer" [hidden]="creditorPlanname.valid || creditorPlanname.untouched">
                                            <small  class="text-danger"*ngIf="creditorPlanname.errors && creditorPlanname.errors.required">
                                                nome do grupo obrigatório
                                            </small>
                                        </div>
                                    </div >
                                    <div class="col-md-2 align-items-end">
                                        <label >Status</label>
                                        <div class="onoffswitch">
                                            <input type="checkbox" [(ngModel)]="_creditorData.planstatus" name="creditorSwitch" class="onoffswitch-checkbox" id="creditorSwitch" checked>
                                            <label class="onoffswitch-label" for="creditorSwitch"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                            <div class="form-group">                                   
                                <div class="row">         
                                    <div class="col-md-6">  
                                        <div class="form border " style="padding-bottom: 10px; padding-top: 10px;">
                                            <div class="col">
                                                <label >Entidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTextCreditor" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >    
                                                <div class="col" *ngFor="let entities of _creditorData.entities | filterEntityName : searchTextCreditor">
                                                    <label class="btn btn-outline-rainti " [ngClass]="entities.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox" [checked]="entities.checked"  id="creditor.{{entities.entityname}}" autocomplete="off" (change)="creditorEntitiesControl($event)"> {{ entities.entityname }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                                                                     
                                    
                                    <div class="col-md-6">  
                                        <div class="form border" style="padding-bottom: 10px; padding-top: 10px;">
                                            <div class="col">
                                                <label >Funcionalidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTextCreditorFunc" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >                                                                                
                                                <div class="col"  *ngFor="let feature of _creditorData.features | filterFeatureName : searchTextCreditorFunc">
                                                    
                                                    
                                                    <label class="btn btn-outline-rainti " [ngClass]="feature.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox"  [checked]="feature.checked"  id="creditor.{{feature.featurename }}" autocomplete="off"
                                                        (change)="creditorFeaturesControl($event)"> {{feature.featurename }}
                                                    </label>
                                                </div>  
                                            </div>  
                                        </div>    
                                        
                                    
                                    </div>         
                                </div> 
                            </div>  
                            <hr/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">                   
                                        <button type="submit" (click)="backToUsers()" class="btn btn-info btn-block">Voltar</button>
                                    </div>  
                                    <div class="col-sm-6">                                        
                                        <button type="submit" *ngIf="!_creditorSaving"[disabled]="creditorForm.form.invalid" (click)="updateCreditorGroup()" class="btn btn-rainti btn-block ">
                                            Salvar                                                
                                        </button>              
                                         <button class="btn btn-outline-rainti btn-block" type="button" disabled *ngIf="_creditorSaving">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                               
                                        </button>
                                    </div>  
                                </div>                            
                            </div> 
                            <div class="alert alert-danger text-center text-danger" *ngIf="_creditorErrorMessage">
                                {{_creditorErrorMessage}}
                            </div> 
                        </form>
                    </div>
                
                <!--  Creditor Group Tab  -->
                
                    <div class="tab-pane fade " [ngClass]="{ active: _userGroupEntityType == 'GESTORA',  show: _userGroupEntityType == 'GESTORA'}"  
                    id="group-creditor-group" role="tabpanel" aria-labelledby="group-creditor-group-tab" >
                        <form class="form" #creditorGroupForm="ngForm">
                            <div class="form-group">
                                <div class="row">
                                    <div  class="col">
                                        <label >Grupo</label>
                                        <input type="text" [(ngModel)]="_creditorGroupData.planname" name="creditorGroupPlanname"  class="form-control rounded-0" 
                                        placeholder="Digite o nome do plano"
                                        [class.is-invalid]="creditorGroupPlanname.invalid && creditorGroupPlanname.touched" #creditorGroupPlanname="ngModel" required >
                                        <div class="md-errors-spacer" [hidden]="creditorGroupPlanname.valid || creditorGroupPlanname.untouched">
                                            <small  class="text-danger"*ngIf="creditorGroupPlanname.errors && creditorGroupPlanname.errors.required">
                                                nome do grupo obrigatório
                                            </small>
                                        </div>
                                    </div >
                                    <div class="col-md-2 align-items-end">
                                        <label >Status</label>
                                        <div class="onoffswitch">
                                            <input type="checkbox" [(ngModel)]="_creditorGroupData.planstatus" name="creditorGroupSwitch" class="onoffswitch-checkbox" id="creditorGroupSwitch" checked>
                                            <label class="onoffswitch-label" for="creditorGroupSwitch"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                            <div class="form-group">                                   
                                <div class="row">         
                                    <div class="col-md-6">  
                                        <div class="form border" style="padding-bottom: 10px; padding-top: 10px;">
                                            <div class="col">
                                                <label >Entidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTextCreditorGroup" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-bottom border-left"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >    
                                                <div class="col" *ngFor="let entities of _creditorGroupData.entities | filterEntityName : searchTextCreditorGroup">
                                                    <label class="btn btn-outline-rainti " [ngClass]="entities.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox" [checked]="entities.checked"  id="creditorGroup.{{entities.entityname}}" autocomplete="off" (change)="creditorGroupEntitiesControl($event)"> {{ entities.entityname }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>                                                                                         
                                    
                                    <div class="col-md-6" >  
                                        <div class="form border" style="padding-bottom: 10px; padding-top : 10px">
                                            <div class="col">
                                                <label >Funcionalidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTexCreditorGrouptFunc" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >                                                                                
                                                <div class="col"  *ngFor="let feature of _creditorGroupData.features | filterFeatureName : searchTexCreditorGrouptFunc">
                                                    <label class="btn btn-outline-rainti " [ngClass]="feature.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox"  [checked]="feature.checked"  id="creditorGroup.{{feature.featurename }}" autocomplete="off"
                                                        (change)="creditorGroupFeaturesControl($event)"> {{feature.featurename }}
                                                    </label>
                                                </div>  
                                            </div>  
                                        </div>    
                                    </div>         
                                </div> 
                            </div>  
                            <hr/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">                   
                                        <button type="submit" (click)="backToUsers()" class="btn btn-info btn-block">Voltar</button>
                                    </div>  
                                    <div class="col-sm-6">                                        
                                        <button type="submit" *ngIf="!_creditorGroupSaving"[disabled]="creditorGroupForm.form.invalid" (click)="updateCreditorGroupGroup()" class="btn btn-rainti btn-block ">
                                            Salvar                                                
                                        </button>              
                                         <button class="btn btn-outline-rainti btn-block" type="button" disabled *ngIf="_creditorGroupSaving">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                               
                                        </button>
                                    </div>  
                                </div>                            
                            </div> 
                            <div class="alert alert-danger text-center text-danger" *ngIf="_creditorGroupErrorMessage">
                                {{_creditorGroupErrorMessage}}
                            </div> 
                        </form>
                    </div>
                
                <!-- Admin TAB -->
                
                    <div class="tab-pane fade " [ngClass]="{ active: _userGroupEntityType == 'ADMIN',  show: _userGroupEntityType == 'ADMIN'}"   
                    id="group-admin" role="tabpanel" aria-labelledby="group-admin-tab" >
                        <form class="form" #adminForm="ngForm">
                            <div class="form-group">
                                <div class="row">
                                    <div  class="col">
                                        <label >Grupo</label>                                        
                                        <input type="text" [(ngModel)]="_adminData.planname" name="adminPlanname"  class="form-control rounded-0" 
                                        placeholder="Digite o nome do plano"
                                        [class.is-invalid]="adminPlanname.invalid && adminPlanname.touched" #adminPlanname="ngModel" required >
                                        <div class="md-errors-spacer" [hidden]="adminPlanname.valid || adminPlanname.untouched">
                                            <small  class="text-danger"*ngIf="adminPlanname.errors && adminPlanname.errors.required">
                                                nome do grupo obrigatório
                                            </small>
                                        </div>
                                    </div >
                                    <div class="col-md-2 align-items-end">
                                        <label >Status</label>
                                        <div class="onoffswitch">
                                            <input type="checkbox" [(ngModel)]="_adminData.planstatus" name="adminSwitch" class="onoffswitch-checkbox" id="adminSwitch" checked>
                                            <label class="onoffswitch-label" for="adminSwitch"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                            
                            <div class="form-group">                                   
                                <div class="row">         
                                    <div class="col-md-6" >  
                                        <div class="form border " style="padding-bottom: 10px; padding-top : 10px">
                                            <div class="col">
                                                <label >Entidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTextAdmin" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >    
                                                <div class="col" *ngFor="let entities of _adminData.entities | filterEntityName : searchTextAdmin">
                                                    <label class="btn btn-outline-rainti " [ngClass]="entities.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox" [checked]="entities.checked"  id="admin.{{entities.entityname}}" autocomplete="off" (change)="adminEntitiesControl($event)"> {{ entities.entityname }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                                                                     
                                    
                                    <div class="col-md-6">  
                                        <div class="form border" style="padding-bottom: 10px; padding-top : 10px">
                                            <div class="col" >
                                                <label >Funcionalidade(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="search" [(ngModel)]="searchTextAdminFunc" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom" style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >                                                                                
                                                <div class="col"  *ngFor="let feature of _adminData.features | filterFeatureName : searchTextAdminFunc">
                                                    <label class="btn btn-outline-rainti " [ngClass]="feature.checked ? 'active' : 'default'"  >
                                                        <input type="checkbox"  [checked]="feature.checked"  id="admin.{{feature.featurename }}" autocomplete="off"
                                                        (change)="adminFeaturesControl($event)"> {{feature.featurename }}
                                                    </label>
                                                </div>  
                                            </div>  
                                        </div>    
                                            
                                            
                                    </div>         
                                </div> 
                            </div>  
                            <hr/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">                   
                                        <button type="submit" (click)="backToUsers()" class="btn btn-info btn-block">Voltar</button>
                                    </div>  
                                    <div class="col-sm-6">                                        
                                        <button type="submit" *ngIf="!_adminSaving"[disabled]="adminForm.form.invalid" (click)="updateAdminGroup()" class="btn btn-rainti btn-block ">
                                            Salvar                                                
                                        </button>              
                                         <button class="btn btn-outline-rainti btn-block" type="button" disabled *ngIf="_adminSaving">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                               
                                        </button>
                                    </div>  
                                </div>                            
                            </div> 
                            <div class="alert alert-danger text-center text-danger" *ngIf="_adminErrorMessage">
                                {{_adminErrorMessage}}
                            </div> 
                        </form>
                    </div>
                </div>
        </div>
        <!-- /form card login -->
    </div>
</div>


