<div class="card shadow rounded" style="padding: 30px">
  <div class="row justify-content-lg align-items-center">
    <div class="col">
      <h1>Grupos</h1>  
    </div>  
    <div class="col-md-auto">    
      <form class="form-inline ">
        <div class="row align-items-center mb-1">    
          <div class="col">
            <select class="custom-select" [(ngModel)]="_status" name="_status" >                            
                <option >Todos</option>
                <option >Ativo</option>
                <option >Inativo</option>
            </select>
                              
          </div>  
          <div class="col">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="_searchText" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
          </div>            
        </div>   
      </form> 
    </div>
  </div>
  <hr/>
  <div class="row" style="padding-top: 10px; height: 650px; overflow-y: scroll; white-space: nowrap;">    
      <div class="col-md-4 mb-4" *ngFor="let group of _groupMain | filter : _searchText | filterStatus : _status"> 
        <div class="card text-center shadow rounded">
          <div class="card-body ">
            <h2 class="card-title ">{{group.name}}</h2>
            <h5> Status: {{group.status}}</h5>          
          </div>
          <div class="card-footer text-muted">
            <div class="row align-items-center mb-1">    
              <div class="col">
                <button type="button" class="btn btn-primary btn-md btn-block" routerLink="/grupo-detalhe/{{group.id}}" routerLinkActive="active" >Editar</button>
              </div>        
              <div class="col">
                <button type="button" class="btn btn-info btn-md btn-block" (click)="disableGroup(group.id)">Desativar</button>
              </div>            
            </div>         
          </div>
        </div>
      </div>
    </div>
  
</div>
