<div class="row justify-content-lg align-items-center">
  <div class="col">
    <h1>Grupos</h1>  
  </div>  
  <div class="col-md-auto">    
    <form class="form-inline ">
      <div class="row align-items-center mb-1">    
              
        <div class="col">
          <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
        </div>            
      </div>   
    </form> 
  </div>
</div>
<hr/>
<div class="row mt-2">    
    <div class="col-md-4 mb-4" *ngFor="let group of groupMain | filter: fristname : searchText"> 
      <div class="card text-center shadow rounded">
        <div class="card-body ">
          <h5 class="card-title ">{{group.name}}</h5>
          <hr/>
          <p class="card-text"><b>Entidade:</b> {{group.entityname}}</p>       
        </div>
        <div class="card-footer text-muted">
          <div class="row align-items-center mb-1">    
            <div class="col">
              <button type="button" class="btn btn-primary btn-md btn-block" routerLink="/group-main/" routerLinkActive="active" >Editar</button>
            </div>        
            <div class="col">
              <button type="button" class="btn btn-info btn-md btn-block" routerLink="/group-main/" routerLinkActive="active">Desativar</button>
            </div>            
          </div>         
        </div>
      </div>
    </div>
  </div>
