<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Cadastro de usuário</h4>
                    
                     <form class="form" #registerForm="ngForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="uname1">Nome</label>
                                    <input type="text" [(ngModel)]="registerUserData.firstName" name="firstName"  class="form-control rounded-0" 
                                    [class.is-invalid]="name.invalid && name.touched" #name="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="name.valid || name.untouched">
                                        <small  class="text-danger"*ngIf="name.errors && name.errors.required">
                                            nome obrigatório
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="uname1">Sobrenome</label>
                                    <input type="text" [(ngModel)]="registerUserData.lastName" name="lastName" class="form-control rounded-0" 
                                    [class.is-invalid]="lastName.invalid && lastName.touched" #lastName="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="lastName.valid || lastName.untouched">
                                        <small  class="text-danger"*ngIf="lastName.errors && lastName.errors.required">
                                            sobrenome obrigatório
                                        </small>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uname1">E-mail</label>
                            <input #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" 
                            [(ngModel)]="registerUserData.email" name="email" class="form-control rounded-0" 
                            [class.is-invalid]="email.invalid && email.touched" required>
                            <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
                                <small  class="text-danger"*ngIf="email.errors && email.errors.required">
                                    e-mail obrigatório
                                </small>
                                <small  class="text-danger" *ngIf="email.errors && email.errors.pattern">
                                    e-mail inválido
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="uname1">Nome de usuário</label>
                            <input type="text" [(ngModel)]="registerUserData.userName" name="userName" class="form-control rounded-0" 
                            [class.is-invalid]="userName.invalid && userName.touched" #userName="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="userName.valid || userName.untouched">
                                        <small  class="text-danger"*ngIf="userName.errors && userName.errors.required">
                                            Nome de usuário obrigatória
                                        </small>
                                    </div>
                        </div>

                        <div class="form-group">
                            <div class="row">               
                                <div class="col-sm-6">
                                    <label for="uname1">Grupo de acesso</label>
                                    <select class="custom-select" #userGroup="ngModel" [class.is-invalid]="topicHasError && userGroup.touched"
                                    name="userGroup" [(ngModel)]="registerUserData.userGroup" (change)="validateTopic(userGroup.value)" (blur)="validateTopic(userGroup.value)">                            
                                        <option value="default">--Escolha um Grupo</option>
                                        <option *ngFor="let group of _groups">{{ group.planname }}</option>
                                    </select>
                                    <small class="text-danger" [class.d-none]="!topicHasError || userGroup.untouched">Escolha um Grupo</small>
                                </div>

                                <div class="col-sm-6">
                                    <label for="uname1">Entidade</label>
                                    <select class="custom-select" #userEntities="ngModel" [class.is-invalid]="topicHasError && userEntities.touched"
                                    name="userEntities" [(ngModel)]="registerUserData.userEntities" (change)="validateTopic(userEntities.value)" (blur)="validateTopic(userEntities.value)">                            
                                        <option value="default">--Escolha uma Entidade</option>
                                        <option *ngFor="let entities of _entities">{{ entities.description }}</option>
                                    </select>
                                    <small class="text-danger" [class.d-none]="!topicHasError || userEntities.untouched">Escolha uma entidade</small>
                                </div>
                            </div> 
                        </div>  

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="uname1">Senha</label>
                                    <input type="password" [(ngModel)]="registerUserData.password" name="password"  class="form-control rounded-0" 
                                    [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required >
                                    <div class="md-errors-spacer" [hidden]="password.valid || password.untouched">
                                        <small  class="text-danger"*ngIf="password.errors && password.errors.required">
                                            senha obrigatória
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="uname1">Confirme sua senha</label>
                                    <input type="password" [(ngModel)]="registerUserData.confirmedPassword" name="confirmedPassword" class="form-control rounded-0" 
                                    [class.is-invalid]="confirmedPassword.invalid && confirmedPassword.touched" #confirmedPassword="ngModel" 
                                    appConfirmEqualValidator="password"required >
                                    <div class="md-errors-spacer" [hidden]="confirmedPassword.valid || confirmedPassword.untouched">
                                        <small  class="text-danger"*ngIf="confirmedPassword.errors && confirmedPassword.errors.required">
                                            confirmação de senha obrigatória
                                        </small>
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="confirmedPassword.valid || confirmedPassword.untouched">
                                        <small  class="text-danger"*ngIf="confirmedPassword.errors && confirmedPassword.errors?.notEqual">
                                            confirmação de senha incorreta
                                        </small>
                                    </div>
                                </div>  
                            </div>                            
                        </div>
                        <!-- <div class="form-group">                            
                            <div class="col-sm-10">
                                <label> <input type="checkbox" name="agree" ngModel required>  Li e concordo com os</label>
                                <a href="https://rainti.com/compliance" routerLinkActive="active"> termos de uso</a>
                            </div>
                        </div>                         -->
                        <button class="btn btn-secondary btn-lg mr-3" style="width: 48%" routerLink="/user-main">Cancelar</button>
                        <button [disabled]="registerForm.form.invalid" type="submit" (click)="CreateUser()" class="btn btn-primary btn-lg" style="width: 48%">Salvar</button>
                  </form>
            </div>
            <!-- /form card login -->
        </div>
    </div>
</div>
    

