
    <div class="row">
        <div class="col-md-8 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card shadow">
                  <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Editar usuário</h4>
                    <hr/>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link " [ngClass]="{'active':_activeTab=='user-data'}" id="user-data-tab" data-toggle="tab" href="#user-data" role="tab" aria-controls="user-data" aria-selected="true"  >Dados do Usuário</a>
                            <a class="nav-item nav-link " [ngClass]="{'active':_activeTab=='user-profile'}"id="user-profile-tab" data-toggle="tab" href="#user-profile" role="tab" aria-controls="user-profile" aria-selected="false" >Perfil de Acesso</a>
                        </div>
                      </nav>
                      <!-- User data TAB -->
                      <div class="tab-content" id="nav-tabContent" style="padding-top: 10px;">
                        <div class="tab-pane fade " id="user-data" role="tabpanel" aria-labelledby="user-data-tab" 
                        [ngClass]="{ 'active show': _activeTab === 'user-data'}">

                            <form class="form" #registerForm="ngForm" >
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="uname1">Nome</label>
                                            <input type="text" [(ngModel)]="_registerUserData.firstname" name="firstName"  class="form-control rounded-0" 
                                            [class.is-invalid]="name.invalid && name.touched" #name="ngModel" required >
                                            <div class="md-errors-spacer" [hidden]="name.valid || name.untouched">
                                                <small  class="text-danger"*ngIf="name.errors && name.errors.required">
                                                    nome obrigatório
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="uname1">Sobrenome</label>
                                            <input type="text" [(ngModel)]="_registerUserData.lastname" name="lastName" class="form-control rounded-0" 
                                            [class.is-invalid]="lastName.invalid && lastName.touched" #lastName="ngModel" required >
                                            <div class="md-errors-spacer" [hidden]="lastName.valid || lastName.untouched">
                                                <small  class="text-danger"*ngIf="lastName.errors && lastName.errors.required">
                                                    sobrenome obrigatório
                                                </small>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">                                            
                                            <label for="uname1">CPF</label>
                                            <input type="text" [(ngModel)]="_registerUserData.cpf" name="cpf" class="form-control rounded-0" 
                                            pattern="^\d{3}\.\d{3}\.\d{3}(-\d{2})$" placeHolder="123.123.123-12"
                                            [class.is-invalid]="cpf.invalid && cpf.touched" #cpf="ngModel" required [disabled]="true" >
                                            <div class="md-errors-spacer" [hidden]="cpf.valid || cpf.untouched">
                                                <small  class="text-danger"*ngIf="cpf.errors && cpf.errors.required">
                                                    CPF obrigatório 
                                                </small>
                                                <small  class="text-danger" *ngIf="cpf.errors && cpf.errors.pattern">
                                                    CPF inválido (Ex.: 123.123.123-12)
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label >Status</label>
                                            <div class="onoffswitch">
                                                <input type="checkbox" [(ngModel)]="_registerUserData.status" name="statusSwitch" class="onoffswitch-checkbox" id="statusSwitch" checked>
                                                <label class="onoffswitch-label" for="statusSwitch"></label>                                                
                                            </div>
                                        </div> 
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label for="uname1">Nome de usuário</label>
                                            <input type="text" [(ngModel)]="__registerUserData.userName" name="userName" class="form-control rounded-0" 
                                            [class.is-invalid]="userName.invalid && userName.touched" #userName="ngModel" required >
                                                    <div class="md-errors-spacer" [hidden]="userName.valid || userName.untouched">
                                                        <small  class="text-danger"*ngIf="userName.errors && userName.errors.required">
                                                            Nome de usuário obrigatória
                                                        </small>
                                                    </div>
                                        </div>
                                        <div class="col">
                                            <label for="uname1">Matrícula</label>
                                            <input type="text" [(ngModel)]="__registerUserData.registration" name="registration" class="form-control rounded-0" 
                                            [class.is-invalid]="registration.invalid && registration.touched" #registration="ngModel" required >
                                                    <div class="md-errors-spacer" [hidden]="registration.valid || registration.untouched">
                                                        <small  class="text-danger"*ngIf="registration.errors && registration.errors.required">
                                                            Matrícula de usuário obrigatória
                                                        </small>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="uname1">E-mail</label>
                                    <input #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" 
                                    [(ngModel)]="_registerUserData.email" name="email" class="form-control rounded-0" 
                                    [class.is-invalid]="email.invalid && email.touched" required>
                                    <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
                                        <small  class="text-danger"*ngIf="email.errors && email.errors.required">
                                            e-mail obrigatório
                                        </small>
                                        <small  class="text-danger" *ngIf="email.errors && email.errors.pattern">
                                            e-mail inválido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">                            
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="uname1">DDD</label>
                                            <input type="text" pattern="^([1-9]{2})"
                                            placeHolder="11"
                                            [(ngModel)]="_registerUserData.ddd" name="dddModel" class="form-control rounded-0" 
                                            [class.is-invalid]="dddModel.invalid && dddModel.touched" #dddModel="ngModel" required >
                                            <div class="md-errors-spacer" [hidden]="dddModel.valid || dddModel.untouched">
                                                <small  class="text-danger"*ngIf="dddModel.errors && dddModel.errors.required">
                                                    DDD obrigatório
                                                </small>
                                                <small  class="text-danger"*ngIf="(dddModel.errors && dddModel.errors.pattern) || ddHasError">
                                                    DDD inválido
                                                </small>
                                           </div>
                                          
                                        </div>
                                        <div class="col">
                                            <label for="uname1">Telefone</label>
                                            <input type="text" pattern="^([1-9]{1}[0-9]{3}|[1-9]{1}[0-9]{4})(-)([0-9]{4})"
                                            placeHolder="1234-5678 ou 12345-6789"
                                            [(ngModel)]="_registerUserData.phone" name="phone" class="form-control rounded-0" 
                                            [class.is-invalid]="phone.invalid && phone.touched" #phone="ngModel" required >
                                            <div class="md-errors-spacer" [hidden]="phone.valid || phone.untouched">
                                                <small  class="text-danger"*ngIf="phone.errors && phone.errors.required">
                                                    Telefone obrigatório
                                                </small>
                                                <small  class="text-danger"*ngIf="phone.errors && phone.errors.pattern">
                                                    Formato inválido (Ex.: 1234-5678 ou 12345-6789) 
                                                </small>
                                           </div>
                                        </div>
                                    </div>
                                </div>  
                                                    
                                <hr/>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">                   
                                            <button type="submit" (click)="backToUsers()" class="btn btn-info btn-block">Voltar</button>                                            
                                        </div>  
                                        <div class="col-sm-6">
                                            <button type="submit" [disabled]="registerForm.form.invalid" (click)="nextTab('user-profile')"  class="btn btn-rainti btn-block ">Próximo</button>                                                            
                                        </div>  
                                    </div>                            
                                </div> 
                          </form>
                        </div>

                        <!-- User Profile TAB -->
                        <div [ngClass]="{'show active':_activeTab=='user-profile'}" class="tab-pane fade" id="user-profile" role="tabpanel" aria-labelledby="user-profile-tab">
                    
                            <form class="form" #profileForm="ngForm" >
                                <div class="form-group">
                                    <div class="col">
                                        <h5>Selecione o Grupo de Acesso</h5>                                                                 
                                    </div>                                        
                                    <div class="col-md-6">  
                                        <div class="form border " style="padding-bottom: 10px; padding-top: 10px;">
                                            <div class="col">
                                                <label >Grupo(s)</label>       
                                            </div>
                                            <div class="col">
                                                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeHolder="Buscar">
                                            </div>                                                    
                                        </div>                                            
                                        
                                        <div class="col border-left border-bottom"style="padding-top: 10px; height: 350px; overflow-y: scroll; white-space: nowrap;">
                                            <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons"  >    
                                                <div class="col" *ngFor="let group of _groupsData | filter : searchText">
                                                    <label class="btn btn-outline-rainti" [ngClass]="group.checked ? 'active' : 'default'"   >
                                                        <input type="radio" name="options" [checked]="group.checked" id="{{group.id}}" autocomplete="off" 
                                                        (click)="featuresControl($event)"> {{ group.name }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                    
                                </div>  
                                <hr/>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">                   
                                            <button type="submit" (click)="backToUsers()" class="btn btn-info btn-block float-right">Voltar</button>
                                        </div>  
                                        <div class="col-sm-6">                                        
                                            <button type="submit" [disabled]="profileForm.form.invalid" (click)="updateUser()" class="btn btn-rainti btn-block ">Finalizar</button>                
                                        </div>  
                                    </div>                            
                                </div> 
                            </form>
                        </div>
                        
                      </div>
                                       
            </div>
            <!-- /form card login -->
        </div>
    </div>
    

