<div class="py-5">
    <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1 text-center">Esqueceu sua senha?</h4>
                <form>                        
                    <div class="form-group">
                        <input type="text" [(ngModel)]="recoverPasswordData.email" placeHolder="Digite seu e-mail ou usuário" name="email" class="form-control rounded-0" required>
                    </div> <!-- form-group// -->            
                    <div class="form-group">
                        <button type="button" (click)="recoverPassword()" class="btn btn-primary btn-block">Resetar senha</button>
                    </div>                                                      
                </form>
            </article>
            </div> 
    </div>
    
</div>
    

